.group-header {
  width: 80%; 
  text-align: center; 
  border-bottom: 1px solid #333; 
  line-height: 0.1em;
  padding: 0 10%;
  margin: 30px auto 20px; 
} 

.group-header span { 
   background:#EDEDED; 
   padding:0 10px; 
}

#senseResults {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pos-label {
  cursor: default;
  padding: 3pt 6pt 3pt 6pt;    
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
}

.pos-label:hover {
  background: #ffb449!important;
  color: white;
}

.sense-wrapper {
  float: none;
  border-left: 6px solid #54afbc
}

.senseFocus {
  border-left: 6px solid #fe5c36!important;
}

.sense-head {
  padding-right: 10px;
  font-weight: bolder;
}

.collapse-examples{
  margin-top: 6pt;
  vertical-align: center;  
  text-align: center;
  cursor: pointer;
  height: 18pt;
  color: white;
  font-size: small;
  background-color: #666;
}

.collapse-examples:hover {
  background-color: #CCC;  
}

.example-preview {
  color: #666666;
  overflow-x: hidden; 
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

.example-preview .fadeout {
  position: absolute;
  width: 50px;
  top: 0px;
  right: 0px;
  height: 100%;
  background-image: linear-gradient(to right, transparent, white);
}

.full-example-wrapper {
  color: #666666;       
}

.full-example-wrapper p{  
  margin: 3pt 0;  
  line-height: 150%;
}

.tag-wrapper {
  cursor: default;  
  background-color: lightgray!important;
  color: black!important;
}

/* Spinner CSS */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #999;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
