/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700);

// fonts
$font-family-sans-serif: "Lato", sans-serif !default;
$font-family-serif: "Lato", serif !default;
$font-family-monospace: "Fira Mono", monospace !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #00008b !default;
$code-block-bg: #f2f2f2;
$code-block-font-size: 0.7em;
$baby-blue: #d2e3f3;
$teal: #047C90;
$d-blue: #003660;
$white: #FFFFFF;
$green: #78A540; 
$magenta: #900C3F;
$off-white: #F7F7F7; 
$gray: #ADADAD; 



$presentation-font-smaller: 0.7rem;

/*-- scss:rules --*/

// HTML selectors //

h1 {
  font-family: "Fira Mono";
  font-size: 24px;
}

.author, .date {
  font-size: 34px;
}

// Class selectors //

.blue-italicized {
    color: blue;
    font-style: italic;
}

/* <p class="blue-italicized">My first paragraph is styled</p> */

#d-blue {
    color: #003660;
}

#blue {
  color: #00008b;
}



.big-text {
  font-size: 150px;
  color: blue;
}

.small-text {
  font-size: 30px;
  color: blue;
}

#magenta {
  color:#900C3F
}

